body{
    margin: 0 0 0 0;
}

#divP{
    display: flex;
    flex-wrap: wrap;
}

#onStream{
    width: 50%;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:200px;
    color: white;
    background-color: #0033cc;
}

#onStream > p,#onStream > span> p{
    font-family: "Segoe UI Semibold",serif;
    font-size: 120%;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, -1px -1px 0 #000;
}

.pStream{
    display:inline;
}

.bouttonplus{
    position: absolute;
    left: 520px;
}

.bouttonmoins{
    position: absolute;
    left: 490px;
}