<!DOCTYPE html>
<html lang="fr" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sardo'noix</title>
    <link rel="icon" href="images/noix.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="divP">
        <div id="onStream">
            <p style="margin-bottom: 0; ">Objectifs : (!subgift)</p>
            <div v-for="item in items_add_moins">
                <p class="pStream">{{item.state}} {{item.recolte}}/{{item.max}} {{item.display_name}}</p>
                <button class="bouttonmoins" @click="moins(item.display_name)">-</button>
                <button class="bouttonplus" @click="add(item.display_name)">+</button>
            </div>

            <br>
            <p class="pStream">Sub à payer : {{subToPay}}</p><button class="bouttonplus" @click="validepaye()">✔</button>
            <p style="margin-top: 0; ">Sub offerts : {{subPaid}} ({{equiPrixSub}}€)</p>
            <br>
            <template v-if="help===true"><p>Actuellement entrain de se faire PL par le chat</p></template>
            <template v-if="CompleteOneOf===true"><p>Bien joué Sard',<br> tu dois offrir {{ subSuccess }} subs à la COMMU</p></template>
        </div>

        <div id="config">
            <h2>Configuration ⚙️</h2>
            <table>
                <tr v-for="item in items_add_moins">
                    <td>{{item.display_name}}</td>
                    <td><label :for="item.display_name"></label><input type="number" min="0" :id="item.display_name" v-model="item.recolte"></td>
                </tr>
                <tr>
                    <td>Sub à payer</td>
                    <td><label for="SubToPay"></label><input type="number" min="0" id="SubToPay" v-model="subToPay"></td>
                </tr>
                <tr>
                    <td>Subs déjà payés</td>
                    <td><label for="SubPaid"></label><input type="number" min="0" id="SubPaid" v-model="subPaid" v-on:input="reloadPaye"></td>
                </tr>
            </table>

            <div style="margin-top: 80px">
                <button @click="aide()" id="helpButton" :style="helpStyle">{{ helpMsg }}</button >
                <button onclick="localStorage.clear(); document.location.reload(true);">Reset all</button>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>Dev par <a href="https://twitter.com/LezdCS">Lezd</a> 💖 </p>
            <p>
                <a target="_blank" href="https://github.com/LezdCS"><img src="images/github.png" width="30" alt="github logo"></a>
            </p>
        </div>
    </footer>

    <script src="js/myscript.js"></script>
</body>
</html>