<!DOCTYPE html>
<html lang="fr" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sardo'noix</title>
    <link rel="icon" href="images/noix.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/FileSaver.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="divP">
        <div id="onStream">
            <p style="margin-bottom: 0; ">Objectifs : (!subgift)</p>
            <p class="pStream">{{stateQuestNoix}} {{noix}}/900 Noix</p><button class="bouttonmoins" onclick="moins('noix');">-</button> <button class="bouttonplus" onclick="add('noix');">+</button><br>
            <p class="pStream">{{stateQuestSanctu}} {{sanctu}}/120 Sanctuaires</p> <button class="bouttonmoins" onclick="moins('sanctu');">-</button><button class="bouttonplus" onclick="add('sanctu');">+</button><br>
            <p class="pStream">{{stateQuestLitho}} {{litho}}/40 Lithoroks </p><button class="bouttonmoins" onclick="moins('litho');">-</button><button class="bouttonplus" onclick="add('litho');">+</button><br>
            <p class="pStream">{{stateQuestHinox}} {{hinox}}/40 Hinox </p><button class="bouttonmoins" onclick="moins('hinox');">-</button><button class="bouttonplus" onclick="add('hinox');">+</button><br>
            <br>
            <p class="pStream">Sub à payer : {{subToPay}}</p><button class="bouttonplus" onclick="validepaye()">✔</button>
            <p style="margin-top: 0; ">Sub offerts : {{subPaid}} ({{equiPrixSub}}€)</p>
            <br>
            <template v-if="help==true"><p>Actuellement entrain de se faire PL par le chat</p></template>
            <template v-if="CompleteOneOf==true"><p>Bien joué Sard',<br> tu dois offrir {{ subSuccess }} subs à la COMMU</p></template>
        </div>

        <div id="config">
            <h2>Configuration</h2>
            <table>
                <tr>
                    <td>Noix</td>
                    <td><label for="Noix"></label><input type="number" id="Noix" v-model="noix"></td>
                </tr>
                <tr>
                    <td>Sanctuaires</td>
                    <td><label for="Sanctuaires"></label><input type="number" id="Sanctuaires" v-model="sanctu"></td>
                </tr>
                <tr>
                    <td>Lithoroks</td>
                    <td><label for="Litho"></label><input type="number" id="Litho" v-model="litho"></td>
                </tr>
                <tr>
                    <td>Hinox</td>
                    <td><label for="Hinox"></label><input type="number" id="Hinox" v-model="hinox"></td>
                </tr>
                <tr>
                    <td>Sub à payer</td>
                    <td><label for="SubToPay"></label><input type="number" id="SubToPay" v-model="subToPay"></td>
                </tr>
                <tr>
                    <td>Subs déjà payés</td>
                    <td><label for="SubPaid"></label><input type="number" id="SubPaid" v-model="subPaid" v-on:input="reloadPaye"></td>
                </tr>
            </table>

            <div style="margin-top: 80px">
                <button onclick="aide()" id="helpButton" :style="helpStyle">{{ helpMsg }}</button >
                <button onclick="save()" id="save" style="margin-left:20px ;font-size : 20px; color:green">Save</button >
                <br>
                <br>
                <input type="file" id="files" name="file" />
                <span class="readBytesButtons">
                    <button style="margin-left:20px ;font-size : 20px; color:green">Charger la save</button>
                </span>
            </div>
        </div>
    </div>
    <footer>
        <p>Dev par <a href="https://twitter.com/LezdCS">Lezd</a> 💖 </p>
    </footer>

    <script src="js/myscript.js"></script>
</body>
</html>